version: "3.9"

services:
  gateway:
    image: nginx:latest
    container_name: api-gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - authservice
      - userservice
  
  authservice:
    image: coffeepeek.authservice
    build:
      context: .
      dockerfile: CoffeePeek.AuthService/AuthService.Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5001:80"
  userservice:
    image: coffeepeek.userservice
    build:
      context: .
      dockerfile: CoffeePeek.UserService/UserService.Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5002:80"
        
  
#  coffeepeek.api:
#    image: coffeepeek.api
#    build:
#      context: .
#      dockerfile: CoffeePeek.Api/Api.Dockerfile
#    environment:
#      - ASPNETCORE_URLS=http://+:8080
#    ports:
#      - "8080:8080"
#  coffeepeek.photo.api:
#    image: coffeepeek.photo.api
#    build:
#        context: .
#        dockerfile: CoffeePeek.Photo.Api/Photo.API.Dockerfile
#
#  coffeepeek.web:
#    image: coffeepeek.web
#    build:
#      context: .
#      dockerfile: CoffeePeek.Web/WEB.Dockerfile
#    environment:
#      - ASPNETCORE_URLS=http://+:8080
#      - ApiSettings__BaseUrl=http://coffeepeek.api:8080
#    ports:
#      - "8081:8080"
#    depends_on:
#      - coffeepeek.api
